GtkWindow.knapsackWindow {
	background-color: #47423F;
}

GtkLabel.instruction {
	font-size: 10px;
	color: white;
	font-weight: bold;
}

GtkButton.boxEntryKnapsack {
	background: #DF3A01;
	color: white;
	border-radius: 0;
}

GtkButton.boxEntryKnapsack:hover {
	color: white;
	font-weight: bold;
	background: #DBA901;
}

GtkEntry.entryKnapsack {
	border-radius: 0;
	background: #E6E6E6;
}

GtkButton.buttonKnapsack {
	border-radius: 0;
	background: #DF3A01;
	color: white;
	border: solid #DF3A01;
}
GtkButton.buttonKnapsack:hover {
	color: white;
	font-weight: bold;
}

#rowHeader {
	background: #B43104;
	color: white;
	border-radius: 0;
}

GtkEntry {
	border-radius: 0;
}

#getObject {
	background: #088A29;
	color: black;
}

#notGetObject{
	background: #E11B1B;
	color: black;
}