GtkWindow.matrixWindow {
	background-color: #47423F;
}

GtkLabel.instruction {
	font-size: 10px;
	color: white;
	font-weight: bold;
}

GtkButton.boxEntryMatrix {
	background: #4C0B5F;
	color: white;
	border-radius: 0;
}

GtkButton.boxEntryMatrix:hover {
	color: white;
	font-weight: bold;
	background: #8904B1;
}

GtkButton.buttonMatrix {
	border-radius: 0;
	background: #4C0B5F;
	color: white;
	border: solid #4C0B5F;
	padding: 0;
}

GtkButton.buttonMatrix:hover {
	color: white;
	font-weight: bold;
}

#header {
	background: #4C0B5F;
	color: white;
	border-radius: 0;
	font-weight: bold;
}

#newLabel {
	font-size: 13px;
	color: white;
	font-weight: bold;
}

GtkEntry {
	border-radius: 0;
	background: #E6E6E6;
	color: black;
}